<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="summary" class="col-md-4 col-sm-6 portfolio-item">
    <a target="_blank" href="https://blog.de-swaef.eu" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-github-alt fa-3x"></i>
            </div>
        </div>
        <img src="img/portfolio/blog.png" class="img-responsive" alt=""/>
    </a>

    <div class="portfolio-caption">
        <h4>My Blog</h4>

        <p class="text-muted">Where I describe my most recent study subjects</p>
    </div>
</div>

</html>