<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="summary" class="col-md-4 col-sm-6 portfolio-item">
    <a href="#devstack" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img src="img/portfolio/devstack.png" class="img-responsive" alt=""/>
    </a>

    <div class="portfolio-caption">
        <h4>Development Stack</h4>

        <p class="text-muted">Personal Devstack</p>
    </div>
</div>

<!-- Devstack Modal -->
<div th:fragment="details" class="portfolio-modal modal fade" id="devstack" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>An Open Source Development Stack</h2>

                        <p class="item-intro text-muted">A freedom of choice.</p>
                        <img class="img-responsive img-centered" src="img/portfolio/devstack.png" alt=""/>

                        <p>From a day to day basis, I try to use as much Open Source software and frameworks as possible.
                            As a result, my development stack consists of quite some open source packages.<br />
                            Examples consist of Jira, Jenkins, Github, InvoiceNinja, Docker, Vault, Ghost etc...</p>

                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close This
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>