<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="summary" class="col-md-4 col-sm-6 portfolio-item">
    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-home fa-3x"></i>
            </div>
        </div>
        <img src="img/portfolio/website.png" class="img-responsive" alt=""/>
    </a>

    <div class="portfolio-caption">
        <h4>This landing page</h4>

        <p class="text-muted">Created with Spring Boot and Thymeleaf.</p>
    </div>
</div>

</html>