<!DOCTYPE html >
<!--[if IE 8]>
<html lang="en" class="ie8"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
> <!--<![endif]-->
<head>
    <title>Quinten De Swaef - Software Developer Freelancer</title>


    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css'
          href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'/>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/style.css}"/>

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" th:href="@{/assets/unify/css/headers/header-v6.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/css/footers/footer-v1.css}"/>

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/animate.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/line-icons/line-icons.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/revolution-slider/rs-plugin/css/settings.css}"
          type="text/css" media="screen"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" th:href="@{/assets/unify/plugins/revolution-slider/rs-plugin/css/settings-ie8.css}"
          type="text/css" media="screen"/><![endif]-->


    <!-- CSS Customization -->
    <link rel="stylesheet" th:href="@{/assets/unify/css/custom.css}"/>
</head>

<body class="header-fixed">
<div class="wrapper">

    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/img/head1.jpg}"
                         alt="darkblurbg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"/>

                    <!-- LAYER -->
                    <div class="tp-caption re-title-v1 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="1500"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endeasing="Power1.easeIn"
                         data-endspeed="300">
                        Hi, I'm Quinten!
                    </div>
                    <!-- END LAYER -->

                    <!-- LAYER -->
                    <div class="tp-caption re-text-v1 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="200"
                         data-speed="1400"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        and welcome to my contact page!
                    </div>
                    <!-- END LAYER -->
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000"
                    data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img th:src="@{/assets/unify/img/sliders/9.jpg}"
                         alt="darkblurbg" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"/>

                    <!-- LAYER -->
                    <div class="tp-caption re-title-v2 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="1400"
                         data-start="1000"
                         data-easing="easeOutBack"
                         data-endspeed="300"
                         data-endeasing="easeInQuad"
                         data-captionhidden="off"
                         style="z-index: 6">
                        Looking for my blog?
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption re-text-v1 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="150"
                         data-speed="1600"
                         data-start="2000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <a href="https://blog.de-swaef.eu"
                           class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light btn-u-block rounded-1x margin-right-10">click
                            here</a>
                    </div>
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!--=== End Slider ===-->

    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">QDS Consult </h2>
            <p class="space-lg-hor">My <span class="color-green">consultancy</span> company.</p>
        </div>

        <div class="row content-boxes-v4">
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left fa fa-code"></i>
                <div class="content-boxes-in-v4">
                    <h2>Code</h2>
                    <p>As a developer, code is what drives you. Keeping up with the newest frameworks, libraries and
                        tools is something I do every single day.</p>
                    <a href="https://github.com/Qkyrie" target="_blank"><i class="fa fa-github-square"></i></a>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <i class="pull-left fa fa-lock"></i>
                <div class="content-boxes-in-v4">
                    <h2>Security</h2>
                    <p>
                        Next to Software Development, I severely focus on secure coding standards and libraries.
                        Most of my side projects have something to do with penetration testing, web application
                        vulnerability analysis, cryptography and security reviews.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <i class="pull-left fa fa-arrows"></i>
                <div class="content-boxes-in-v4">
                    <h2>Full stack</h2>
                    <p>Creating full stack applications, integrating with existing components or
                        maintaining and building on top of existing code.</p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row content-boxes-v4">
            <div class="col-md-4">
                <i class="pull-left fa fa-chain"></i>
                <div class="content-boxes-in-v4">
                    <h2>Blockchain</h2>
                    <p>In my spare time, and for a startup, I also investigate and create solutions based on Blockchain
                        technologies.</p>
                    <a href="https://fundrequest.io">Learn More</a>
                </div>
            </div>
            <div class="col-md-4">
                <i class="pull-left fa fa-leaf"></i>
                <div class="content-boxes-in-v4">
                    <h2>Spring</h2>
                    <p>In most of my projects, I tend to take full benefit of the spring framework,
                        including a lot of its sideprojects. Even this website was created using the latest version of
                        <b>Spring Boot</b>.</p>
                    <a href="https://fundrequest.io">Learn More</a>
                </div>
            </div>
            <div class="col-md-4">
                <i class="pull-left fa fa-cloud"></i>
                <div class="content-boxes-in-v4">
                    <h2>Cloud</h2>
                    <p>Next to all previously mentioned topics, I'm also investing a lot of time in cloud computing,
                        cloud native applications and micro service
                        oriented architectures.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Tiny Portfolio</h2>
            <p class="space-lg-hor">Although I try to update this portfolio from time to time, it's easier to follow
                what I do on github account.</p>
        </div>

        <div class="row">
            <div class="col-sm-4 md-margin-bottom-40">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive"
                             th:src="@{/img/portfolio/fundrequest.png}" alt=""/>
                    </div>
                    <div class="caption">
                        <p>FundRequest is the company I work for.</p>
                        <p>
                            A DECENTRALIZED MARKETPLACE FOR OPEN SOURCE COLLABORATION
                        </p>
                        <p><a class="read-more" href="https://fundrequest.io">what?</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 md-margin-bottom-40">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive" th:src="@{/img/portfolio/blog.png}" alt=""/>
                    </div>
                    <div class="caption">
                        <h3><a href="https://blog.de-swaef.eu">My Blog</a></h3>
                        <p>Where I describe my most recent study subjects. Sometimes it's asleep, but breathing
                            nonetheless.</p>
                        <p><a class="read-more" href="https://blog.de-swaef.eu">read it</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive" th:src="@{/img/portfolio/github.jpg}" alt=""/>
                    </div>
                    <div class="caption">
                        <h3><a href="https://github.com/Qkyrie">My github</a></h3>
                        <p>All of my code is publicly available on github.</p>
                        <p><a class="read-more" href="https://github.com/Qkyrie" target="_blank">See More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-color-light content-sm">
        <div class="container text-center">
            <h2 class="title-v2 title-center">contact me</h2>
            <p class="space-lg-hor">If you want to contact me, feel free to do so. Mail me and I'll get back to you as
                soon as I can</p><br/>
            <a href="mailto:quinten@de-swaef.eu" class="btn-u">MAIL ME</a>
        </div>
    </div>

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> &copy; All Rights
                            Reserved.
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="https://www.linkedin.com/in/quinten-de-swaef-562a8826/" class="tooltips"
                                   data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/QuintenDes" class="tooltips" data-toggle="tooltip"
                                   data-placement="top" title=""
                                   data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://tiwtter.com/Qkyrie" class="tooltips" data-toggle="tooltip"
                                   data-placement="top" title=""
                                   data-original-title="Github">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->


<!-- JS Global Compulsory -->
<script type="text/javascript" th:src="@{/assets/unify/plugins/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/jquery/jquery-migrate.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" th:src="@{/assets/unify/plugins/back-to-top.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/smoothScroll.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/jquery.parallax.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/counter/waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/plugins/counter/jquery.counterup.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/unify/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js}"></script>
<script type="text/javascript"
        th:src="@{/assets/unify/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<!-- JS Customization -->
<script type="text/javascript" th:src="@{/assets/unify/js/custom.js}"></script>
<!-- JS Page Level -->
<script type="text/javascript" th:src="@{/assets/unify/js/app.js}"></script>
<script type="text/javascript" th:src="@{/assets/unify/js/plugins/revolution-slider.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function () {
		App.init();
		App.initCounter();
		App.initParallaxBg();
		RevolutionSlider.initRSfullScreenOffset();
	});
</script>
<!--[if lt IE 9]>
<script th:src="@{/assets/unify/plugins/respond.js}"></script>
<script th:src="@{/assets/unify/plugins/html5shiv.js}"></script>
<script th:src="@{/assets/unify/plugins/placeholder-IE-fixes.js}"></script>
<![endif]-->
</body>
</html>
